<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      The buyer of the auction <%= link_to @auction.title, @auction.url %> is <%= link_to @buyer.name, @buyer.profile_url %>
    </p>
    
    <p>
      You are receiving this email because you subscribed to our notification system. If you do not wish to receive those emails anymore, please go to our website and unsubscribe.
    </p>
  </body>
</html>