body
  margin: 0
  padding: 0
  font-family: helvetica, arial, verdana, sans-serif
  font-size: 0.85em
  min-width: 960px
  line-height: 18px

a:hover
  text-decoration: none

#signup, #about
  float: left
  font-size: 1.3em
  p
    margin: 25px 0
    color: #444
    line-height: 28px
    word-spacing: 0.1em
    
#about
  width: 45%
  margin: 0 30px

#signup
  margin-left: 100px
  form
    p
      margin: 10px 0
    font-size: 0.9em
    color: #222
    background: #f0f0f7
    padding: 0 20px
    border: 2px solid silver
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    border-radius: 10px
        
form#new_user, form#user_new, form#new_auction, form#user_edit
  input
    border: 1px solid #aaa
    background: -moz-linear-gradient(0% 50% 270deg, white, #ddd)
    background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(white), to(#ddd))
    
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border-radius: 6px
    padding: 8px
    font-size: 0.9em
  input#user_submit, input#auction_submit
    color: green
    background: #eee
  #user_submit:hover, #auction_submit:hover
    cursor: pointer
    border: 1px solid gray
    color: #060
    background: #ddd

.green
  color: green

.center
  text-align: center

.big
  font-size: 1.4em
  color: #666
  
div.field_with_errors
  display: inline

tr.auction img
  height: 50px

tr.auction td
  padding: 5px 15px

div#header
  color: #ccc
  overflow: auto
  background: black
  padding: 10px 40px
  height: 110px
  a 
    color: white
    text-transform: uppercase
    
  div#logo
    float: left
    p
      margin: 0
      text-align: center
    h1
      margin: 0
      background: url(/images/logo.jpg) no-repeat scroll 0 10px
      a
        display: block
        height: 80px
        width: 290px
        text-indent: -9999px
        
  div#nav
    margin-top: 80px
    float: right
    p
      line-height: 1.3em
      float: right
      margin: 0
    ul
      margin: 0
      float: right
      list-style: none
      line-height: 1.3em
      li
        display: inline
        margin: 0 7px
    
div#flash
  height: 40px
  p
    line-height: 40px
    margin: 0px
    text-align: center
  p.alert
    color: maroon
    background: #fe8d8d
  p.notice
    color: #006600
    background: #99ff99

div#content
  margin: 20px 25px
  overflow: auto
  
td.red input
  color: maroon
input#auction_submit
  color: green
  
div#errorExplanation
  color: #e33
  ul
    padding: 0
    list-style-type: none
  
table.auctions 
  tbody
    tr:nth-of-type(2n-1)
      background: #eee
  th
    padding: 10px 0

div#add_auction
  margin-bottom: 40px
  
div#footer
  margin-top: 80px
  color: #ccc
  background: black
  height: 60px
  padding: 20px 40px
  font-size: 0.9em
  a 
    color: white