#add_auction
  %h2 Add Auction
  = form_for @auction ||= Auction.new do |f|
    -if @auction.errors.any?
      #errorExplanation
        %p Item ID is not valid, or not available anymore.
    %p
      = f.label :item_id, 'Item ID'
      = f.text_field :item_id
      = f.submit 'Add'