var message, newRow;
<% if @auction.new_record? %>
	message = '<p class="alert">Item ID is not valid, or not available anymore.</p>';
<% else %>
	message = '<p class="notice"><%= flash.show_and_delete(:notice) %></p>';
	$('#auction_item_id').attr('value', '');
	newRow = $('<%= jquery_wrappable(@auction) %>');
	newRow.css('display', 'none').prependTo($('table.auctions tbody')).fadeIn();
<% end %>
$('#flash').html(message);
$('#auction_submit').attr('disabled', false).css('color', 'green');
