@font-face {
  font-family: "GnuolaneRgRegular";
  src: url("/fonts/gnuolane_rg-webfont.eot");
  src: local("☺"), url("/fonts/gnuolane_rg-webfont.woff") format("woff"), url("/fonts/gnuolane_rg-webfont.ttf") format("truetype"), url("fonts/gnuolane_rg-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LithoAntiqueMedium";
  src: url("/fonts/LithoAntique-Medium-webfont.eot");
  src: local("☺"), url("/fonts/LithoAntique-Medium-webfont.woff") format("woff"), url("/fonts/LithoAntique-Medium-webfont.ttf") format("truetype"), url("fonts/LithoAntique-Medium-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LithoAntiqueDemiBold";
  src: url("/fonts/LithoAntique-DemiBold-webfont.eot");
  src: local("☺"), url("/fonts/LithoAntique-DemiBold-webfont.woff") format("woff"), url("/fonts/LithoAntique-DemiBold-webfont.ttf") format("truetype"), url("fonts/LithoAntique-DemiBold-webfont.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Aller";
  src: local("☺"), url("/fonts/Aller_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 0.85em;
  min-width: 1000px;
  line-height: 18px; }

a:hover {
  text-decoration: none; }

#signup, #about {
  float: left;
  font-size: 1.2em; }
  #signup p, #about p {
    margin: 25px 0 10px;
    color: #444444;
    line-height: 28px;
    word-spacing: 0.09em; }

#about {
  width: 45%;
  margin: 0 30px;
  font-family: Aller, helvetica, arial, verdana, sans-serif; }

#signup {
  margin-left: 100px; }
  #signup p {
    font-family: Aller, helvetica, arial, verdana, sans-serif; }
  #signup form {
    font-size: 1.1em;
    background: #f0f0f7;
    padding: 0 20px;
    border: 2px solid silver;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; }
    #signup form p {
      font-family: LithoAntiqueDemiBold, helvetica, arial, verdana, sans-serif;
      margin: 10px 0;
      font-size: 1em;
      color: #333333;
      line-height: 32px; }
      #signup form p input {
        font-size: 0.8em; }

form#new_user input, form#user_new input, form#new_auction input, form#user_edit input {
  border: 1px solid #aaaaaa;
  background: white;
  background: -moz-linear-gradient(0% 50% 270deg, white, #dddddd);
  background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(white), to(#dddddd));
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 8px;
  font-size: 0.9em; }
form#new_user input#user_submit, form#new_user input#auction_submit, form#user_new input#user_submit, form#user_new input#auction_submit, form#new_auction input#user_submit, form#new_auction input#auction_submit, form#user_edit input#user_submit, form#user_edit input#auction_submit {
  color: green;
  background: #eeeeee; }
form#new_user #user_submit:hover, form#new_user #auction_submit:hover, form#user_new #user_submit:hover, form#user_new #auction_submit:hover, form#new_auction #user_submit:hover, form#new_auction #auction_submit:hover, form#user_edit #user_submit:hover, form#user_edit #auction_submit:hover {
  cursor: pointer;
  border: 1px solid gray;
  color: #006600;
  background: #dddddd; }
form#new_user input#signup_submit, form#user_new input#signup_submit, form#new_auction input#signup_submit, form#user_edit input#signup_submit {
  cursor: pointer;
  border: none;
  background: url("/images/signup.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 37px;
  line-height: 33px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  text-indent: -9999px;
  text-transform: capitalize;
  width: 160px; }
form#new_user input#signup_submit:hover, form#user_new input#signup_submit:hover, form#new_auction input#signup_submit:hover, form#user_edit input#signup_submit:hover {
  background: url("/images/signup.png") no-repeat scroll 0 -40px transparent; }

.green {
  color: green; }

.center {
  text-align: center; }

.big {
  font-size: 1.4em;
  color: #666666; }

div.field_with_errors {
  display: inline; }

tr.auction img {
  height: 50px; }

tr.auction td {
  padding: 5px 15px; }

div#header {
  color: #cccccc;
  overflow: auto;
  background: black;
  padding: 10px 40px;
  height: 110px; }
  div#header a {
    color: white;
    text-transform: uppercase; }
  div#header div#logo {
    float: left; }
    div#header div#logo p {
      margin: 0;
      text-align: center; }
    div#header div#logo h1 {
      margin: 0;
      background: url(/images/logo.jpg) no-repeat scroll 0 10px; }
      div#header div#logo h1 a {
        display: block;
        height: 80px;
        width: 290px;
        text-indent: -9999px; }
  div#header div#nav {
    margin-top: 80px;
    float: right; }
    div#header div#nav p {
      line-height: 1.3em;
      float: right;
      margin: 0; }
    div#header div#nav ul {
      margin: 0;
      float: right;
      list-style: none;
      line-height: 1.3em; }
      div#header div#nav ul li {
        display: inline;
        margin: 0 7px; }

div#flash {
  height: 40px; }
  div#flash p {
    line-height: 40px;
    margin: 0px;
    text-align: center; }
  div#flash p.alert {
    color: maroon;
    background: #fe8d8d; }
  div#flash p.notice {
    color: #006600;
    background: #99ff99; }

div#content {
  margin: 20px 25px;
  overflow: auto; }

td.red input {
  color: maroon; }

input#auction_submit {
  color: green; }

div#errorExplanation {
  color: #ee3333; }
  div#errorExplanation ul {
    padding: 0;
    list-style-type: none; }

table.auctions tbody tr:nth-of-type(2n-1) {
  background: #eeeeee; }
table.auctions th {
  padding: 10px 0; }

div#add_auction {
  margin-bottom: 40px; }

div#footer {
  margin-top: 80px;
  color: #cccccc;
  background: black;
  height: 60px;
  padding: 20px 40px;
  font-size: 0.9em; }
  div#footer p {
    line-height: 30px; }
  div#footer a {
    color: white; }
