body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 0.85em;
  min-width: 1020px; }

a:hover {
  text-decoration: none; }

#about {
  float: left;
  width: 45%;
  font-size: 1.3em;
  margin: 0 30px;
  color: #555555;
  line-height: 28px; }

form#new_user input, form#user_new input, form#new_auction input, form#user_edit input {
  border: 1px solid #aaaaaa;
  background: -moz-linear-gradient(0% 50% 270deg, white, #dddddd);
  background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(white), to(#dddddd));
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 10px;
  padding: 8px;
  font-size: 0.9em; }
form#new_user input#user_submit, form#new_user input#auction_submit, form#user_new input#user_submit, form#user_new input#auction_submit, form#new_auction input#user_submit, form#new_auction input#auction_submit, form#user_edit input#user_submit, form#user_edit input#auction_submit {
  color: green;
  background: #eeeeee; }
form#new_user #user_submit:hover, form#new_user #auction_submit:hover, form#user_new #user_submit:hover, form#user_new #auction_submit:hover, form#new_auction #user_submit:hover, form#new_auction #auction_submit:hover, form#user_edit #user_submit:hover, form#user_edit #auction_submit:hover {
  border: 1px solid gray;
  color: #006600;
  background: #dddddd; }

#signup {
  float: left;
  font-size: 1.3em;
  margin-left: 100px;
  color: #222222; }

.green {
  color: green; }

.center {
  text-align: center; }

div.field_with_errors {
  display: inline; }

tr.auction img {
  height: 50px; }

tr.auction td {
  padding: 5px 15px; }

div#header {
  color: #cccccc;
  overflow: auto;
  background: black;
  padding: 10px 40px;
  height: 100px; }
  div#header div#left-header {
    float: left; }
    div#header div#left-header p {
      margin: 0;
      text-align: center; }
    div#header div#left-header h1 {
      margin: 0;
      background: url(/images/logo.jpg) no-repeat scroll 0 10px; }
      div#header div#left-header h1 a {
        display: block;
        height: 80px;
        width: 290px;
        text-indent: -9999px; }
  div#header a {
    color: white;
    text-transform: uppercase; }
  div#header div#top-nav {
    float: right; }
    div#header div#top-nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      div#header div#top-nav ul li {
        display: inline; }
    div#header div#top-nav div#user-nav {
      margin-top: 75px;
      overflow: auto;
      height: 25px; }
      div#header div#top-nav div#user-nav p {
        float: left;
        margin: 0;
        padding-right: 25px;
        font-size: 0.9em; }
      div#header div#top-nav div#user-nav ul {
        float: right; }
        div#header div#top-nav div#user-nav ul li {
          margin: 0 5px; }

div#flash {
  height: 40px; }
  div#flash p {
    line-height: 40px;
    margin: 0px;
    text-align: center; }
  div#flash p.alert {
    color: maroon;
    background: #fe8d8d; }
  div#flash p.notice {
    color: #006600;
    background: #99ff99; }

div#content {
  margin: 20px 25px;
  overflow: auto; }

td.red input {
  color: maroon; }

input#auction_submit {
  color: green; }

div#errorExplanation, div#error_explanation li {
  color: #ee3333; }

table.auctions tbody tr:nth-of-type(2n-1) {
  background: #eeeeee; }
table.auctions th {
  padding: 10px 0; }

div#add_auction {
  margin-bottom: 40px; }

div#footer {
  margin-top: 80px;
  color: #cccccc;
  background: black;
  height: 60px;
  padding: 20px 40px;
  font-size: 0.9em; }
  div#footer a {
    color: white; }
