%h1 Who won it?
%h2 Find out the ebayer who won that auction
%p It's been a while since ebay changed its policy: now the winner of an auction remains undisclosed to all other ebayers but the seller. But there is still a chance to find out who won that auction: sooner or later feedback should be left, and it will include the buyer ebay id. 
%p As soon as a tracked auction gets its feedback from the seller we will nofify you via email with the buyer ebay id.