<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <div style="background: url(http://whowonit.heroku.com/images/logo-small.jpg) no-repeat black center left; height: 50px"></div>
    <p>
      Hello <%= @resource.email %>,
    </p>
    <p>
      Someone has requested a link to change your password, and you can do this through the link below.
    </p>
    <p>
      <%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
    </p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
    <p style="color: #555; margin-top: 40px; border-top: 1px solid black; padding-top: 25px">
      You are receiving this email because you subscribed to our notification system. If you do not wish to receive those emails anymore, please go to our website and unsubscribe.
    </p>
  </body>
</html>